<!--
  Generated template for the HelloPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label fixed>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="lastName"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button block (click)="createPerson(firstName, lastName)">
    Create Person
  </button>

  <button ion-button block (click)="updatePerson(firstName, lastName)">
    Update Name
  </button>

  <button ion-button block (click)="deletePerson(firstName, lastName)">
      Delete Person
    </button>

  <div *ngIf="myPerson != null">
    <p>
      The person's name is {{ myPerson.firstName }} {{ myPerson.lastName }}
    </p>
  </div>

</ion-content>